{% extends 'preset/base.html' %}

{% block maintext %}
    <h1 class="bd-title" id="content">Introduction</h1>
    <p>Instat</p>
    <h1 class="bd-title" id="content">Introduction</h1>
    <h1 class="bd-title" id="content">Introduction</h1>
    <h1 class="bd-title" id="content">Introduction</h1>
    <h1 class="bd-title" id="Home13">Introduction1</h1>
    <h1 class="bd-title" id="content">Introduction</h1><h1 class="bd-title" id="content">Introduction</h1>
    <h1 class="bd-title" id="content">Introduction</h1>
    <h1 class="bd-title" id="content">Introduction</h1>
    <h1 class="bd-title" id="content">Introduction</h1>
    <h1 class="bd-title" id="content">Introduction</h1>
    <h1 class="bd-title" id="content">Introduction</h1><h1 class="bd-title" id="content">Introduction</h1>
    <h1 class="bd-title" id="content">Introduction</h1>
    <h1 class="bd-title" id="content">Introduction</h1>
    <h1 class="bd-title" id="content">Introduction</h1>
    <h1 class="bd-title" id="content">Introduction</h1>
    <h1 class="bd-title" id="content">Introduction</h1><h1 class="bd-title" id="content">Introduction</h1>

{% endblock %}